body {
  background-image: linear-gradient(to bottom, #e74c3c, #e67e22);
}
div,
button,
h1 {
  font-family: sans-serif;
  text-align: center;
}
button {
  margin: 5%;
  padding: 5%;
  background: #1abc9c;
  font-size: 35px;
}
h1 {
  font-size: 100px;
}
